.footer{
    background-color: #519316;
    color: var(--contentTextColor);
    background-image: url('../../../../assets/footer/footer_down-bg.png') ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}



.footer-form_title{
    font-size: 32px;
    font-weight: 400;
}

.footer-form_text{
    font-size: 13px;
}

.footer_button{
    background-color: var(--footerButtonColor);  
}


