
.board-title_board{
    width: 40% !important;
}

.board_content{
    position: relative;
    color: #000000;
    margin-top: 5rem;
    word-wrap: break-word;
}

.board-content_text{
    max-width: 793px;
    font-size: 22px;
    line-height: 40px;
    font-weight: 400;
    /* word-wrap: break-word; */
}

.top-5{
    top: 5% !important;
}


.top-10{
    top: 10% !important;
}


.translate_right{
    transform: translate(-35%,-50%);
}

.translate_left{
    transform: translate(-60%, -50%);
}

.arrow{
    max-width: 15%;
    top: 40%;
}


@media screen and (min-width: 390px) {
    
.board-title_board{
    width: 30% !important;
}
}

@media screen and (min-width: 990px) {
    .board_content{
        position: absolute;
        margin-top: 0;
        color: var(--contentTextColor);
        
    }
}

