.title{
    font-size: 30px;
}

.content{
    font-size: 18px;
}

.effect{
    width: 100%;
    color: var(--contentTextColor);
    font-weight: 700;
    -webkit-text-stroke: 1px #FF9E54;
    text-shadow:  2px 1px 0px #0000004D;

}

@media (min-width: 990px) {
    .title{
        font-size: 38px;
    }
}



