.section1{
    background-image: url('../../../../assets//section/section1/section1-background.svg');
    height: 50vh;
    background-size: cover;
    background-position: center;
}
.section1_text{
    font-size: 10px;
    font-weight: 400;
    color: #85B610;
}



@media (min-width: 768px) {

    .section1{
        height: 70vh;
    }
    .section1_text{
        font-size: 25px;
        font-weight: 400;
        color: #85B610;
    }
}
@media (min-width: 1200px) {
    
}
@media (min-width: 1400px) {
    .section1{
        height: 101vh;
    }
}