.section2{
    
    background-image: url('../../../../assets/section/section2/section2_background.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background: linear-gradient(360deg, #FFFFFF 31.02%, #84D544 80.54%, #519316 100%);
}

.section2_content{
    top: 15%;
}

