.section5{
    background-image: url('../../../../assets/section/section5/background.png');
    background-size: cover;
    
}

.game_item{
    background-color: #ffffff;
    border-radius: 40px;
    
}

.section5-img_slideShow{
    top: 25%;
    left: 13%;
}