.header{
    background-color: #fefdf3;
}

 
.nav_item{
    font-size: 20px !important;
    color: #00231D !important;
}

@media (min-width: 768px) {
    .navbar_logo{
        width: 10%;
    }
}

@media (min-width: 1200px) {
    .navbar_logo{
        width: 10%;
    }
}